services:
  mariadb:
    build: requirements/MariaDB
    container_name: mariadb
    env_file:
      - .env
    volumes:
      - mariadb_data:/var/lib/mysql
    networks:
      - inception
    expose:
      - "3306"
    restart: unless-stopped

  wordpress:
    build: requirements/WordPress
    container_name: wordpress
    depends_on:
      - mariadb
    env_file:
      - .env
    volumes:
      - wordpress_data:/var/www/html
    networks:
      - inception
    expose:
      - "9000"
    restart: on-failure

  nginx:
    build: requirements/NGINX
    container_name: nginx
    depends_on:
      - wordpress
    volumes:
      - wordpress_data:/var/www/html
    networks:
      - inception
    ports:
      - "8443:443"
    restart: on-failure

volumes:
  mariadb_data:
    driver: local
    driver_opts:
      type: none
      device: /home/nyousfi/data/mariadb
      o: bind

  wordpress_data:
    driver: local
    driver_opts:
      type: none
      device: /home/nyousfi/data/wordpress
      o: bind

networks:
  inception:
    driver: bridge
